<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="sql" connectionString="server=GTX;integrated security=true;database=schoolDb"/>
  </connectionStrings>
</configuration>  